/* 1.  T y p o g r a p h y   */

/* 1.1. Load external assets*/
	@font-face {
	  font-family: 'karbonregular';
	  src: url("fonts/karbon-regular-webfont.woff2") format("woff2"), url("fonts/karbon-regular-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonmedium';
	  src: url("fonts/karbon-medium-webfont.woff2") format("woff2"), url("fonts/karbon-medium-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonsemibold';
	  src: url("fonts/karbon-semibold-webfont.woff2") format("woff2"), url("fonts/karbon-semibold-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonbold';
	  src: url("fonts/karbon-bold-webfont.woff2") format("woff2"), url("fonts/karbon-bold-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonlight';
	  src: url("fonts/karbon-light-webfont.woff2") format("woff2"), url("fonts/karbon-light-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}

/* 1.2 Font styles */

body {
	font-family: 'karbonregular', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'karbonbold', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: normal;
}

strong, b {
	font-family: 'karbonsemibold', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	font-weight: normal;
}

small, label {
	font-family: 'karbonlight', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";		
	font-weight: normal;
}