/**
 *
 * G E N E R A L
 *
 */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
} 

/* 1.2 Font styles */

body {
	font-family: 'karbonlight', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: normal;
	font-size: 1.25rem;
	color: $gray-500;
}
hr {
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'karbonregular', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: normal;
}

h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
	font-family: 'karbonsemibold', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: normal;
}
@include media-breakpoint-down(md) {
	p {
		font-size: 1rem;
	}
}

.display-4 {
	@include media-breakpoint-down(md) {
		font-size: 2.5rem;
		line-height: 1.125;
	}	
}

.lead {
	font-family: 'karbonlight', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	font-weight: normal;
	color: $teal;
	font-size: 1.625rem;
  @include media-breakpoint-down(md) {
		font-size: 1.125rem;
  }
}
.lead strong {
	font-family: 'karbonregular', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	font-weight: normal;
}

strong, b {
	font-family: 'karbonregular', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	font-weight: normal;
	color: $teal;

}

small {
	font-family: 'karbonlight', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";		
	font-weight: normal;
}

address {
	line-height: 1.125;
}

.badge {
	padding: 1em 1.5em;
	text-transform: uppercase;
	font-family: 'karbonsemibold', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	font-weight: normal;
	font-size: 60%;
	border-radius: 2rem;
}

.btn {
	text-transform: uppercase;
	font-family: 'karbonsemibold', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";	
	font-weight: normal;
	font-size: 75%;
	padding: 1.5rem 2rem;
	border-radius: 2rem;
  @include media-breakpoint-down(md) {
		padding: 1rem 1.5rem;
  }
}

.btn-lg {
	border-radius: 3rem;
	padding: 1.5rem 2.5rem;
}

.img-thumbnail {
	border-radius: 1rem;
}
	
/* 2.  General Layout   */
body {
	/* todo: add background image with the street map repeated vertically… */
}

section {
	padding: 3rem 0;
}

h2 {
	color: $green;
}

.bg-light {
  background-color: #fefefe !important;
 }

.bg-white {
	background-color: #fff !important;
}
.bg-green {
	background-color: #00BAB2 !important;
	color: #fff !important;
}
.bg-green a {
	color: #fff;
}

.bg-green-light {
	background-color: $green-light !important;

} 



