/**
 *
 * H E A D E R
 *
 */

#header {
	background-color: transparent;
	margin-bottom: 5rem;
}

.logo img {
	max-width: 180px;

}
.logo-first img {
	max-width: 160px;
}

.logo-footer-first {
	max-width: 180px;
}
