#inscripcion {
	position: relative;
	&:before {
		position: absolute;
		content: "";
		width:100%;
		height: 100%;
	  z-index: -1;
	  left: 0;
	  top:0;
		background: url('../images/bg-ciudad.svg');
	  background-repeat: no-repeat;
	  background-position: center;
	  background-size:cover;
   -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);

	}
  border-top: 10px solid $green-light;

}