.jumbotron {
	background-color: transparent;
}

.jumbotron-first {
	background: url('../images/bg-ciudad.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;

  padding-top: 10rem; 
  padding-bottom: 10rem; 
  @include media-breakpoint-down(md) {
	  padding-top: 6rem; 
	  padding-bottom: 3rem; 
	}

  margin-bottom: 0;
  border-bottom: 10px solid #f6fcf6;

  .img-first {
  	max-width: 70%;
		margin: 0px auto;
  } 

	h1 {
		font-family: 'karbonlight', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";		
		color: $teal;
		font-size: 1.75rem;
	}
	h2 {
		line-height: 1;
		color: $green;
	}
	.lead {
		color: $teal;
		font-size: 1.875rem;
		line-height: 1.25;
	  @include media-breakpoint-down(md) {
			font-size: 1.25rem;
	  }


		strong, b {
			font-family: 'karbonlight', -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";		
		} 
	}


}

#hero {
	background: url('../images/bg-apunta-tu-centro.jpg');
  
	background-position: 0px 0px;
	background-repeat: repeat-x;
	background-size: cover;

  padding-top: 10rem; 
  padding-bottom: 18rem; 
  margin-bottom: 0;
	h2 {
		font-size: 2.5rem;
		color: $green;
	}
	.lead {
		font-size: 1.25rem;
	}

}
