/* C U S T O M  S T Y L E S  */
/* 1.  T y p o g r a p h y   */

	@font-face {
	  font-family: 'karbonregular';
	  src: url("fonts/karbon-regular-webfont.woff2") format("woff2"), url("fonts/karbon-regular-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonmedium';
	  src: url("fonts/karbon-medium-webfont.woff2") format("woff2"), url("fonts/karbon-medium-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonsemibold';
	  src: url("fonts/karbon-semibold-webfont.woff2") format("woff2"), url("fonts/karbon-semibold-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonbold';
	  src: url("fonts/karbon-bold-webfont.woff2") format("woff2"), url("fonts/karbon-bold-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonlight';
	  src: url("fonts/karbon-light-webfont.woff2") format("woff2"), url("fonts/karbon-light-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}

/* 1.1. Header styles */

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-family: "karbonregular", Tahoma, sans-serif;
		text-shadow: none;
	}

	h1 {
		font-family: "karbonlight", Tahoma, sans-serif;
		/*font-size: 72px;*/
		line-height: 1;
	}

	h3 {
		font-family: 'karbonsemibold', Tahoma, sans-serif;
		/*font-size: 32px;*/
	}

/* 1.1. Paragraph & list styles */

	body {
		font-family: "karbonregular", Helvetica, Arial, sans-serif;	
		/*font-size: 16px;*/
		/*line-height: 1.6;*/
	}

	p, ul, ol, li {
		font-family: "karbonlight", Helvetica, Arial, sans-serif;
		font-weight: 200;
		/*font-size: 18px;*/
	}

	strong, b {
		font-weight: normal;
		font-family: "karbonsemibold", Helvetica, Arial, sans-serif;
	}


/* 2.  S e c t i o n s */

/* 2.1. Header */
a.navbar-brand {}
a.navbar-brand img {}

a.navbar-brand-first {}
a.navbar-brand-first img {
	width: 180px;
}

a.navbar-brand-last {}
a.navbar-brand-last img {
	width: 220px;
}

/* 2.2. Footer */

/* 2.3. Sections */
section {
	border-top: 1px solid grey;
	padding: 1em 0;
	background: #efefef;
}

/* 3.  F o r m s */

/* 4.  B u t t o n s 