/* C U S T O M  S T Y L E S  */
/* 1.  T y p o g r a p h y   */

	@font-face {
	  font-family: 'karbonregular';
	  src: url("fonts/karbon-regular-webfont.woff2") format("woff2"), url("fonts/karbon-regular-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonmedium';
	  src: url("fonts/karbon-medium-webfont.woff2") format("woff2"), url("fonts/karbon-medium-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonsemibold';
	  src: url("fonts/karbon-semibold-webfont.woff2") format("woff2"), url("fonts/karbon-semibold-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonbold';
	  src: url("fonts/karbon-bold-webfont.woff2") format("woff2"), url("fonts/karbon-bold-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}
	@font-face {
	  font-family: 'karbonlight';
	  src: url("fonts/karbon-light-webfont.woff2") format("woff2"), url("fonts/karbon-light-webfont.woff") format("woff");
	  font-weight: normal;
	  font-style: normal;
	}

/* 1.1. Header styles */

	h1, h2, h3, h4, h5, h6 {
		font-weight: normal;
		font-family: "karbonregular", Tahoma, sans-serif;
		text-shadow: none;
	}

	h1 {
		font-family: "karbonlight", Tahoma, sans-serif;
		font-size: 72px;
		line-height: 1;
		text-transform: uppercase;
		color: #95CE3F;
	}
	h2 {
		font-family: "karbonlight", Tahoma, sans-serif;
		font-size: 52px;
		line-height: 1;
		text-transform: uppercase;
		color: #00B9AE;		
	}
	h1 span,
	h2 span,
	h3 span,
	h4 span {
		font-family: 'karbonsemibold', Tahoma, sans-serif;		
	}

	h3 {
		font-family: 'karbonsemibold', Tahoma, sans-serif;
		color: #333;
		font-size: 22px;
	}

	h4 {
		font-family: "karbonsemibold", Tahoma, sans-serif;
		font-size: 30px;
		line-height: 1;
		text-transform: uppercase;		
		color: #777;
	}

/* 1.1. Paragraph & list styles */

	body {
		font-family: "karbonregular", Helvetica, Arial, sans-serif;	
		font-size: 18px;
		line-height: 1.5;
	  -webkit-text-size-adjust: 100%;
	  -ms-text-size-adjust: 100%;
	  -ms-overflow-style: scrollbar;
	  -webkit-tap-highlight-color: transparent;
	}

	p, ul, ol, li {
		font-weight: normal;
		font-family: "karbonregular", Helvetica, Arial, sans-serif;
		font-size: 18px;
		color: #777;
	}

	p.lead {
		font-size: 24px;
		font-family: "karbonlight", Helvetica, Arial, sans-serif;
		color: #00B9AE;
	}

	p.lead strong {
		font-family: "karbonsemibold", Helvetica, Arial, sans-serif;		
	}

	strong, b {
		font-weight: normal;
		font-family: "karbonsemibold", Helvetica, Arial, sans-serif;
	}


/* 2.  S e c t i o n s */

/* 2.1. Header */
a.navbar-brand {}
a.navbar-brand img {}

a.navbar-brand-first {}
a.navbar-brand-first img {
	width: 180px;
}

a.navbar-brand-last {}
a.navbar-brand-last img {
	width: 220px;
}

/* 2.2. Footer */
.footer-v3 .footer {
	padding: 40px 0;
	background: #f1eff0;
	border-top: 5px solid #f1eff0;	
}
.footer-logo {
  margin: 1em 0 10px;
  max-width: 180px;
}

.footer-v3 .credits img {
    max-width: 100px;
    margin: 20px 25px 40px 0;
}

.footer #logo-issop img {
    max-width: 80px;
}

.footer #logo-minamata img {
    max-width: 160px;
}


.footer-v3 h2 {
	font-family: 'karbonbold', Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #111;
	line-height: 1.5;
	margin-bottom: 0em;
	padding-top: 2em;
}


.footer-v3 h3 {
	font-family: 'karbonsemibold', Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 0em;
	padding-top: 1em;
	text-transform: none;
	color: #00B9AE;
}

/* 2.3. Sections */
section {
}

section#minamata {
	background-color: #f4f5f9 !important;
}

section#ecoproyectores {
	background-image: url("images/education-bg-shortThrow.jpg");
	background-position: 0 125%;
	background-size: 50%;
	background-repeat: no-repeat;
	padding-bottom: 10%;
	background-color: #f4f5f9 !important;
}

/* 3.  F o r m s */

/* 4.  B u t t o n s */
.btn {
		font-weight: normal;
		font-family: "karbonbold", Helvetica, Arial, sans-serif;
}
/* 5. Utilities */
.hidden {
	display: none;
}

.g-custom-primary {
  color: #a6d100 !important; }

.g-bg-custom-primary {
  background-color: #a6d100 !important; }

.g-brd-custom-primary {
  border-color: #a6d100 !important;
}

.g-custom-primary-v2 {
  color: #95CE3F !important; }

.g-bg-custom-primary-v2 {
  background-color: #95CE3F !important; }

.g-brd-custom-primary-v2 {
  border-color: #95CE3F !important;
}


.g-custom-secondary {
  color: #00B9AE !important; }

.g-bg-custom-secondary {
  background-color: #00B9AE !important; }

.g-brd-custom-secondary {
  border-color: #00B9AE !important;
}

.g-left-minus-custom {
  left: -20.57143rem; 
	z-index: 1;}
