<!DOCTYPE html>
<html class="no-js"  lang="es">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    
    <!-- CSS Styles -->
    <link rel="stylesheet" href="/css-min/app.css">

    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <title>{{title}} |  {{settings.site}}</title>
    <meta property="og:title" content="{{title}}"/>
    <meta name="twitter:title" content="{{title}}">

    <meta name="description" content="{{description}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta name="twitter:description" content="{{description}}">

    <meta property="og:url" content="{{settings.url}}{{canonical}}" />
    <link rel='canonical' href='{{settings.url}}{{canonical}}' />

    <meta name="twitter:image" content="{{settings.url}}/images/snapshot.jpg">
    <meta property="og:image" content="{{settings.url}}/images/snapshot.jpg"/>

    <meta name="creator" content="{{settings.company}}"/>
    <meta property="og:site_name" content="{{settings.site}}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="{{settings.locale}}" />
  </head>
  <body class="{{class}}">
    <main>
      <!-- header -->
      {{> header}}
      {{> body}}
      <!-- footer -->
      {{> footer}}
    </main>
    {{> footerjavascripts}}
  </body>  
</html>